body {
  font-family: Arial, sans-serif;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.input h1 {
  color: rgb(115, 115, 115);
}
.input_block {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1000px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16);
}

#arrayText {
  width: 850px;
  font-weight: bold;
  font-size: 24px;
}

button {
  font-size: 25px;
  padding: 10px 20px;
  margin: 15px;
  border-radius: 15px;
  border: 1px solid rgb(61, 61, 61);
  cursor: pointer;
}
button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#addButton {
  background-color: rgb(26, 224, 36);
}

#clearButton {
  background-color: rgb(243, 47, 47);
}

input {
  border: 2px solid rgba(255, 20, 20, 0.621);
  font-size: 20px;
  height: 40px;
  width: 500px;
  padding-left: 5px;
  border-radius: 15px;
}

.block_text {
  width: 100%;
  border: 2px solid rgba(202, 202, 202, 0.664);
  padding: 8px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
}